body {
  margin: 0;
  padding: 0;
}

nav h2 {
  position: absolute;
  top: 40px;
  left: 77px;

  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;

  color: #333333;
}
# 404-not-found-master
